* {
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-image: url('../img/pexels-photo-159888.jpeg');
    background-size: cover;
    /*tamaño de foto*/
    background-attachment: fixed;
    /*fondo fijo*/
    padding: 10% 20px;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 60px;
}

.header p {
    font-size: 30px;
}


/* Create three equal columns that floats next to each other */

.one-column {
    float: left;
    width: 100%;
    padding: 20px 20%;
    /*=> "padding:0% 20% 0% 20%"*/
}

.one-column h1,
.one-column h2 {
    text-align: center;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.two-column {
    padding: 20px;
    float: left;
    width: 50%;
}

.three-column {
    padding: 20px;
    float: left;
    width: 33.33%;
}

.three-column img {
    width: 100%;
}

.three-column .desc {
    padding: 10px;
    text-align: center;
}

.cadetblue {
    background-color: cadetblue;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}